# 1. WAP to check if the given number is a disarium number (1^1 + 7^2 + 5^3 = 1 + 49 + 125 = 175).

In [12]:
num = int(input("Enter a number to be checked: "))

Enter a number to be checked:  85

In [13]:
res = list(map(int, str(num)))
 
# printing result
print("The list from number is " + str(res))

The list from number is [8, 5]

In [14]:
power = 1
sum = 0
for i in res:
    sum = sum + (i**power)
    power=power+1

In [15]:
if(sum == num):
    print("Yes")
else:
    print("No")

No

# 2. WAP to determine whether the given number is a harshad number(If a number is divisible by the sum of its digits, then it will be known as a harshad number).

In [16]:
num = int(input("Enter a number to be checked: "))

Enter a number to be checked:  12

In [17]:
res = list(map(int, str(num)))
 
# printing result
print("The list from number is " + str(res))

The list from number is [1, 2]

In [18]:
sum = 0
for i in res:
    sum = sum +i

In [20]:
if(num%sum == 0):
    print("YES")
else:
    print("NO")

YES

# 3. WAP to print Armstrong number from 1 to 1000

In [5]:
for i in range(1,1001):
    res = list(map(int, str(i)))
 


    power = len(res)
    sum = 0
    for j in res:
        sum = sum + (j**power)
          
    if(sum == i):
        print(i)

1
2
3
4
5
6
7
8
9
153
370
371
407

# 4. WAP a program to compute the value of X^n

In [6]:
X = int(input("Enter the value of X: "))

Enter the value of X:  4

In [7]:
n = int(input("Enter the value of n: "))

Enter the value of n:  5

In [8]:
print(X**n)

1024

# 5. Program to Calculate the value of nCr (Combination)

In [1]:
import math

def nCr(n, r):
    return math.factorial(n) // (math.factorial(r) * math.factorial(n - r))

# Example usage
n = 5
r = 3
print(f"{n}C{r} = {nCr(n, r)}")

5C3 = 10

# 6. Program to Generate the Fibonacci Series

In [2]:
def fibonacci(n):
    fib_series = [0, 1]
    for i in range(2, n):
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series[:n]

# Example usage
n = 10
print(f"Fibonacci series up to {n} terms: {fibonacci(n)}")

Fibonacci series up to 10 terms: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# 7. Program to Count the Sum of Digits in the Entered Number

In [3]:
def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

# Example usage
n = 12345
print(f"Sum of digits in {n} is {sum_of_digits(n)}")

Sum of digits in 12345 is 15

# 8. Program to Find the Reverse of a Given Number

In [4]:
def reverse_number(n):
    return int(str(n)[::-1])

# Example usage
n = 12345
print(f"Reverse of {n} is {reverse_number(n)}")

Reverse of 12345 is 54321

# 9. Program to Check whether a Given Number is Perfect Number

In [5]:
def is_perfect_number(n):
    divisors_sum = sum(i for i in range(1, n) if n % i == 0)
    return divisors_sum == n

# Example usage
n = 28
if is_perfect_number(n):
    print(f"{n} is a Perfect Number")
else:
    print(f"{n} is not a Perfect Number")

28 is a Perfect Number

# 10. Program to Check whether a Given Number is Palindrome or Not

In [6]:
def is_palindrome(n):
    return str(n) == str(n)[::-1]

# Example usage
n = 121
if is_palindrome(n):
    print(f"{n} is a Palindrome")
else:
    print(f"{n} is not a Palindrome")

121 is a Palindrome

# 11-22 Pattern questions

In [34]:
def pattern_1(n):
    for i in range(1, n+1):
        for j in range(1, i+1):
            print(j, end=" ")
        print()

# Example usage
pattern_1(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [9]:
def pattern_2(n):
    for i in range(1, n+1):
        for j in range(i):
            print(i, end=" ")
        print()

# Example usage
pattern_2(5)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [10]:
def pattern_3(n):
    for i in range(1, n+1):
        print((chr(64+i) + " ") * i)

# Example usage
pattern_3(5)

A
B B
C C C
D D D D
E E E E E

In [11]:
def pattern_4(n):
    for i in range(n, 0, -1):
        print("* " * i)

# Example usage
pattern_4(5)

* * * * *
* * * *
* * *
* *
*

In [12]:
def pattern_5(n):
    for i in range(n, 0, -1):
        for j in range(1, i+1):
            print(j, end=" ")
        print()

# Example usage
pattern_5(5)

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [47]:
def pattern_6(n):
    x=" "
    for i in range(1,n+1):
        if i%2 == 0:
            continue
        print(x * ((n) - i) + "* " * i,sep ="")

# Example usage
pattern_6(9)

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [57]:
def print_pattern(n):
    for i in range(1, n+1):
        # Print leading spaces
        print(" " * (n - i) * 2, end="")

        # Print increasing part
        for j in range(i, 2 * i):
            print(j, end=" ")

        # Print decreasing part
        for j in range(2 * i - 2, i - 1, -1):
            print(j, end=" ")

        # Move to the next line
        print()

# Call the function with n=5
print_pattern(5)

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [62]:
def pattern_8(n):
    x=" "
    for i in range(n+1,0,-1):
        if i%2 == 0:
            continue
        print(x * ((n) - i) + "* " * i,sep ="" )

# Example usage
pattern_8(9)

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [71]:
def pascal_triangle(n):
    triangle = []
    
    for i in range(n):
        row = [1]
        if i > 0:
            for j in range(1, i):
                row.append(triangle[i-1][j-1] + triangle[i-1][j])
            row.append(1)

        # Print leading spaces for alignment
        print(" " * (n - i), end="")
        
        # Print the current row with proper spacing
        print(" ".join(map(str, row)))
        triangle.append(row)

# Example usage
pascal_triangle(6)

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1
 1 5 10 10 5 1

In [18]:
def pattern_9(n):
    num = 1
    for i in range(1, n+1):
        for j in range(i):
            print(num, end=" ")
            num += 1
        print()

# Example usage
pattern_9(4)

1
2 3
4 5 6
7 8 9 10

In [19]:
def pattern_10(n):
    for i in range(1, n+1):
        for j in range(i):
            print(chr(65 + (i+j) % 2), end=" ")
        print()

# Example usage
pattern_10(4)

B
A B
B A B
A B A B

In [20]:
def pattern_11(n):
    for i in range(n):
        for j in range(2*i+1):
            print((i+j) % 2, end=" ")
        print()

# Example usage
pattern_11(4)

0
1 0 1
0 1 0 1 0
1 0 1 0 1 0 1