In [1]:
name = "Tanuj Tyagi 23FE10CSE00715 KK Tyagi"

In [10]:
reg = ""
for i in range(12,26):
    reg = reg+name[i]

In [11]:
reg

'23FE10CSE00715'

In [13]:
DNA_SEQ_50 = "ATCGGATCGACCATGTTAGCGGATGCAATGCCCTTGAATGCCCCTATAGT"

In [14]:
DNA_SEQ_100 = "ATGCTAGGCTTACGATCGGCTAATCGGCTAGTACGATCGGATCCGATCGGATCCGATGCTAGTACGAGTACGATCGGCTAGCTAG"

In [17]:
T = 0
G = 0
C = 0
A = 0

for i in range(50):
    if(DNA_SEQ_50[i] == 'T' and DNA_SEQ_100[i] == 'T'):
        T = T+1
    if(DNA_SEQ_50[i] == 'A' and DNA_SEQ_100[i] == 'A'):
        A = A+1
    if(DNA_SEQ_50[i] == 'G' and DNA_SEQ_100[i] == 'G'):
        G = G+1
    if(DNA_SEQ_50[i] == 'C' and DNA_SEQ_100[i] == 'C'):
        C = C+1

In [18]:
print(f"T MATCHED:{T} A MATCHED:{A} G MATCHED:{G} C MATCHED:{C}")

T MATCHED:5 A MATCHED:4 G MATCHED:3 C MATCHED:3

Longest Sequence Match

In [23]:
longest = 0
current = 0
for i in range(50):
    if(DNA_SEQ_50[i] == DNA_SEQ_100[i]):
        current = current +1
        for j in range(i,50):
            if(DNA_SEQ_50[j] == DNA_SEQ_100[j] and DNA_SEQ_50[j+1] == DNA_SEQ_100[j+1]):
                current=current+1
        
        if(longest < current):
            longest = current
        current =0

In [24]:
print(longest)

6